v1.0_KT
bot_env/
bot_env_2/
node_modules/
dist/
build/
logs/
*.log
*.csv
*.xlsx
*.xls
web_app_automation/.next/
web_app_automation/node_modules/
web_app_automation/build/
web_app_automation/dist/
.DS_Store
.*pyc
__pycache__/    
.env
.env.local
.env.*.local
*.env